#root {
  width: 99%;
  text-align: center;
  background-color: white;
  margin: 10px auto 0;
  background-color: white;
  color: black;
}


body { 
  background-color: white;
  min-width: 100vw;
    -webkit-text-size-adjust: none;

}
html {
  background-color: white;
  min-width: 100vw;
  font-size: 16px;
  -webkit-text-size-adjust: 100%;
}

@media screen and (max-width: 768px) {
  html {
    font-size: 14px; 
  }
  .select-bar {
    flex-direction: column;
    top: calc(11.2vh + 5rem);
  }
}

.sticky-head-table{
  width: 50%;
}
.customized-table{
  width: 50%;
}
.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.select-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 100vw;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}
@media screen and (max-width: 768px) {
  .select-bar {
    flex-direction: column;
    top: 0px;
  }
  .customizedTableHead {
    height: 107px !important;
  }
}
.app-header {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 1rem;
  width: 50%;
  text-align: center;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 5%;
}
  
.select-bar :first-child {
  margin-left: 5px;
}
.select-bar :last-child {
  margin-right: 5px;
}
.twoTable { 
  margin-top: 5rem;
}